{% extends 'base.html' %}
{% load static %}
{% block title %}
  Все объекты инфраструктуры
{% endblock %}

{% block content %}



    <h2 class="m-4"><b>Объекты инфраструктуры исследования</b></h2>



        <div class="panel d-flex justify-content-between align-items-center border">
             <div class="importResearch">
                <form class='mt-2 ms-2' action="" method="post">
                    {% csrf_token %}
                    {{ form  }}
                    <button type='submit'
                            class="btn btn-warning ">
                            Импорт
                    </button>
                </form>
            </div>


            <div class="export-btn d-flex justify-content-center align-items-center me-5">
                 <a class="btn btn-warning me-5"
                    href="{% url 'create_ObjectInfrastructure-page' objectResearch_id %}">Добавить</a>

                 <a style="font-size: 24px; color: #FFB500;" href="{% url 'exportXLX_ObjectsInfrastructure' objectResearch_id %}">
                    <span class="fas fa-file-excel"></span>
                </a>
                <a class='ms-5' style="font-size: 24px; color: #FFB500;" href="{% url 'exportCSV_ObjectsInfrastructure' objectResearch_id %}">
                     <span class="fas fa-file-csv"></span>
                </a>
            </div>

        </div>



    {% if not page_obj %}
        <h2 class="m-5 alert alert-warning"> Объекты инфраструктуры не найдены!</h2>

    {% else %}


    <div class="table-responsive">
     <table class="table ">
                <thead class="table-dark">
                            <th>id</th>
                            <th>Дата создания</th>
                            <th>Наименование</th>
                            <th>Адрес</th>
                            <th>Радиус, м</th>
                            <th>Подробно</th>
                            <td></td>

                </thead>
                <tbody>

                        {% for obj in page_obj %}
                          <tr>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.address }}</td>
                            <td>{{ obj.radius|floatformat:"2"}}</td>
                            <td><a href="{% url 'edit_ObjectInfrastructure-page' objectResearch_id obj.id %}">
                                Редактировать</a>
                            </td>
                              <td>
                                <form id='delete_form_{{obj.id}}'
                                      action="{% url 'delete_ObjectInfrastructure' objectResearch_id obj.id %}"
                                      method="post">
                                {% csrf_token %}
                                </form>
                                <a style="color:red"  href="javascript:void()" onclick="delete_question_{{obj.id}}()">
                                    Удалить</a>
                              </td>
                        <script>
                            function delete_question_{{ obj.id }}(){
                                if (confirm('Вы уверены?')){
                                    document.getElementById('delete_form_{{obj.id}}').submit()
                                }
                            }
                        </script>
                          </tr>
                        {% endfor %}

                </tbody>
            </table>
    </div>



    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}